<main class="about-me">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 id="about">This Is Me</h1>
                </div>
            </div>
            <div class="row">
                <div class="container cards">
                    <div class="row">                       
                        <div class="col this-is-me">
                            <h3>A Growing Web Developer</h3>
                            <p>I am a quick and eager learner who continually strives to improve my craft of developing responsive and attractive web pages. Currently enrolled in the University of New Hampshire's Full-Stack Web Development Bootcamp.</p>
                        </div>
                        <div class="col this-is-me">
                            <h3>Educator</h3>
                            <p>Licensed teacher in the state of New Hampshire holding a Bachelor of Music in Music Education. Recipient of the New Hampshire Band Directors' Association's "Outstanding Young Band Director" Award, 2020. I lead students through collaboration.</p>
                        </div>
                    </div>
                    <div class="row">                       
                        <div class="col this-is-me">
                            <h3>Musician</h3>
                            <p>Classically trained trombonist and conductor, having performed with numerous big bands and wind ensembles. I've conducted groups at various levels from very beginning to advanced, and musical styles from jazz, to rock, to classical.</p>
                        </div>
                        <div class="col this-is-me">
                            <h3>Table-Top Game Enthusiast</h3>
                            <p>I love strategy and cooperative games - and I especially love finding and learning new games that I have not played before. I am fascinated by the creativity of board game developers and by the process of learning how to master their games.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>