<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Portfolio</a>
  </li>
</ul>

<div class="container home">
    <div class="row">
        <div class="col-xl-6 col-md-12">
            <img src="images/Headshot.png" class="mx-auto d-block headshot" alt="Tim Vigneau photo">
        </div>
        <div class="col-md-6 text-center">
            <h1>Tim Vigneau</h1>
            <h2>Full-Stack Web Developer</h2>
            <hr>
            <div class="position-relative mx-5">
                <a href="http://">
                    <img src="images/github.png" alt="github page" class="position-absolute top-50 start-0 social-icon">
                </a>
                <a href="http://">
                    <img src="images/linkedin.png" alt="" class="position-absolute top-50 start-50 social-icon">
                </a>
                <a href="http://">
                    <img src="images/file.png" alt="" class="position-absolute top-50 start-100 social-icon">
                </a>  
            </div>                                
        </div>
    </div>
</div>
