<div class="container">
    <div class="row">
        <div class="col-xl-6 col-md-12">
            <img src="images/Headshot.png" class="mx-auto d-block headshot" alt="Tim Vigneau photo">
        </div>
        <div class="col-xl-6 text-center title">
            <h1>Tim Vigneau</h1>
            <h2>Full-Stack Web Developer</h2>
            <hr>
            <div class="row">
                <div class="col-4">
                    <a href="https://github.com/tjvig94" target="_blank">
                        <img src="images/github.png" alt="github page" class="social-icon">
                    </a>
                </div>
                <div class="col-4">
                    <a href="https://www.linkedin.com/in/tim-vigneau/" target="_blank">
                        <img src="images/linkedin.png" alt="linkedin page" class="social-icon">
                    </a>
                </div>
                <div class="col-4">
                    <a href="images/Tim_Vigneau_Resume.pdf" download="Tim Vigneau Resume">
                        <img src="images/file.png" alt="resume" class="social-icon">
                    </a> 
                </div>
            </div>
        </div>
    </div>
</div>
