  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="99999999999">
      <section class="itemA mb-5 mt-5">
        <div class="container pt-5 pb-5">
          <div class="row">
            <div class="col-md">
              <img class="app-img" src="images/dnd.png" alt="Dungeons and Dragons Quick haracter Creator Image">
            </div>
            <div class="col-md">
              <h2>D&D Character Creator Express</h2>
              <p>
              Have you ever needed to make a Dungeons and Dragons character on the fly? Well look no further! Making a new character to play with can take quite a bit of time and who has time to waste when you just want to play. This app allows users to easily create new characters fast with generated stats that would meet all the criteria needed to start or jump into a campaign!
              </p>
            </div>
          </div>
        </div>
      </section>    
    </div>

    <div class="carousel-item" data-bs-interval="99999999999">
      <section class="itemB mb-5 mt-5">
        <div class="container pt-5 pb-5">
          <div class="row">
            <div class="col-md  d-flex justify-content-end">
              <img class="app-img" src="images/suprise-me-al.png" alt="Surprise Me-Al homepage">
            </div>
            <div class="col-md">
              <h2>Surprise Me-Al</h2>
              <p>
              Surprise Me-al is a mobile-ready application that provides a user with a random meal from a particular region in the world depending on what region the user chooses. Ingredients and directions are listed out on the results page. The user is also provided with a random beverage to go along with their meal. Users can also save their favorite recipes so that they can quickly access those recipes later from the homepage.
              </p>
            </div>         
          </div>
        </div>
      </section>    
    </div>

    <div class="carousel-item" data-bs-interval="99999999999">
      <section class="itemA mb-5 mt-5">
        <div class="container pt-5 pb-5">
          <div class="row">
            <div class="col-md">
              <img class="app-img" src="images/weather-dashboard.png" alt="Weather Dashboard homepage">
            </div>
            <div class= "col-md">
              <h2>Weather Dashboard</h2>
              <p>
              The Weather Dashboard is an SPA that allows users to search for a city or town and receive weather information for the current day, and the proceeding 5 days. As users search for cities, their recent searches are saved in a list which they can use to quickly load weather data for those prior searches.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div> 
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>